@font-face {
  font-family: myFont;
  src: url(BlockBE.ttf);
}

*{
	margin: 0;
	padding: 0;
}

body{
	padding: 2%;
	display: flex;
	flex-direction: column;
	align-items: center;
  background: black;
	font-family: myFont;
	font-size: 2.5vh;
}

.menu{
	overflow: scroll;
	width: 95%;
	height: 77.4vh;
	background: white;
	border-radius: 50px;
	padding: 2%;
	text-align: center;
	margin-top: 2%;
	font-size: 3vh;
}

.nav, .subNav{
	width: 100%;
	height: 8vh;
	background: white;
	margin-top: 2%;
	border-radius: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3.5vh;
	font-weight: 700;
	position: relative;
}

.nav{
	margin-top: 1%;
}

.subNav{
	font-size: 2.5vh;
	z-index: 4;
	box-shadow: 0px -20px 20px 0px rgba(0, 0, 0, 0.3);
}

.subNav p {
	margin-left: 5%;
	font-size: 3vh;
	font-weight: 700;
	transform: rotate(90deg);
	transition: 0.5s;
}

.back{
	position: absolute;
	font-size: 3vh;
	font-weight: 700;
	left: 5%;
}

.panino, .pietanza{
	height: 13vh;
	width: 90%;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2%;
	background-color: gray;
	margin-top: 5%;
	overflow: hidden;
	margin-left: 2.7%;
	position: relative;
}

.pietanza{
	height: 8vh;
	flex-direction: row;
	justify-content: space-between;
	background: transparent;
	border: solid;
}

.nome{
	color: white;
	font-size: 3.3vh;
	height: 100%;
	width: 100%;
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	z-index: 2;
	font-weight: 50;
}

.desc{
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 2vh;
	width: 95%;
}

.opacity{
	position: absolute;
	height: 110%;
	top: -10%;
	width: 100%;
	background: linear-gradient(-90deg,rgba(0,0,0,0) 20%, rgba(0,0,0,0.9) 80%);
	z-index: 1;
}

.fotoPanino {
	width: 100%;
  position: absolute;
  top: -50%;
}

.menuOptions{
	position: absolute;
	padding: 2%;
	bottom: 3.6vh;
	width: 92%;
	height: 3vh;
	background: white;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  border-radius: 50px;
  box-shadow: 0px -20px 20px 0px rgba(0, 0, 0, 0.5);
  transition: 0.7s;
  opacity: 1;
}

.menuItem{
	width: 90%;
	height: 12vh;
	border-bottom: solid;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3vh;
}

#last{
	border: none;
}
/*Primi -------------------------- */

.nomePietanza{
	font-size: 3.3vh;
	text-align: left;
}

.prezzoPietanza{
	font-size: 3vh;
}

/*Pagina Panino -------------------------- */

.container{
	height: 70vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

.paninoImg{
	height: 30vh;
}

.paninoDesc{
	  font-family: myFont;
    font-size: 3vh;
    width: 70%;
    min-height: 7vh;
    line-height: 3vh;
    text-align: center;
}

.paninoPrezzo{
	font-size: 3vh;
	font-family: myFont;
}

